<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }

        th {
            background-color: beige;
        }

        tr:nth-child(even) {
            background-color: azure;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- html코드는 id가 app인 태크 안에서 작업 -->
        <div>
            <select id="posit-menu" v-model="position" @change="fnList">
                <option value="">::: 전체 :::</option>
                <option value="조교수">조교수</option>
                <option value="전임강사">전임강사</option>
                <option value="정교수">정교수</option>
            </select>
        </div>
        <table>
            <tr>
                <th>선택</th>
                <th>교수번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>직급</th>
                <th>급여</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr v-for="item in list">
                <td><input type="checkbox" :value="item.PROFNO" v-model="selectItems"></td>
                <td>{{item.PROFNO}}</td>
                <td>{{item.NAME}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.POSITION}}</td>
                <td>{{item.PAY}}</td>
                <td><button @click="fnProfEdit(item.PROFNO)">수정</button></td>
                <td><button @click="fnProfRemove(item.PROFNO)">삭제</button></td>
            </tr>
        </table>
        <div>
            <button @click="fnRemoveAll">선택삭제</button>
        </div>

    </div>

</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [],
                position: "",
                selectItems: [] //뭐가 체크 됬는지 최초에 확인용?...
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/prof/list",
                    dataType: "json",
                    type: "GET",
                    data: { position: self.position },
                    success: function (data) {
                        // console.log(data);
                        self.list = data.profList; //서버에서 profList 응답 보냄 그래서 profList 함
                        //서버에서 응답 보낸걸 self.list에 넣음
                    }
                });
            },
            fnProfRemove: function (ProfNo) {
                // alert(empNo);
                let self = this;
                if (!confirm("정말 삭제??")) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/prof/delete",
                    dataType: "json",
                    type: "GET",
                    data: { profNo: ProfNo }, // 키(명) : 밸류
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다");
                            self.fnList();
                        }
                    }
                });
            },
            fnProfEdit: function (profNo) {
                location.href = "prof-edit.html?profNo=" + profNo;
            },
            fnRemoveAll: function () {
                // alert("함수동작1");
                let self = this;
                if (!confirm("정말 체크된 교수들 삭제??")) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/prof/deleteAll",
                    dataType: "json",
                    type: "GET",
                    data: { removeList: self.selectItems }, //서버로 보낼 키(명) : 밸류
                    traditional: true,
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다");
                            self.fnList();
                        }
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnList();
        }
    });

    app.mount('#app');
</script>